/* --- Buttons --- */

@use '../utils' as Util;

@mixin btn($bg-color: Util.$surface-base) {
    cursor: pointer;
    padding: Util.$base-padding;
    background-color: $bg-color;
}

.btn {
    @include btn;
}

@each $key, $val in Util.$colors {
    .btn-#{$key} {
        @include btn($val);
    }

    .btn-outline-#{$key} {
        @include btn;
        border: 2px solid $val;

        &:hover {
            background-color: $val;
        }
    }
}